*~
*.swp
*.cmi
*.cmo
*.annot
menhir_parse.automaton
mehnir_parse.conflicts
menhir_parse.ml
menhir_parse.mli
lexer.ml
lexer.mli
.depend
*.out
pscala
out
*.log
*.aux
*.synctex.gz
tests/**
!tests/**/*.scala
!tests/**/*.out